[submodule "nvim/pack/dist/start/vim-airline"]
	path = nvim/pack/dist/start/vim-airline
	url = https://github.com/vim-airline/vim-airline
[submodule "nvim/pack/dist/start/vim-airline-themes"]
	path = nvim/pack/dist/start/vim-airline-themes
	url = https://github.com/vim-airline/vim-airline-themes
[submodule "dircolors/dircolors-solarized"]
	path = dircolors/dircolors-solarized
	url = https://github.com/seebi/dircolors-solarized
